

body{
    background-image: url("ImageBlackJack.jpg");
    background-size: cover;
    text-align: center;
    
}

h1{

    font-weight: bold;
    color: #FFBF9B;
    text-decoration: underline;
}
button{
    background-color: #1b4b4d;
    color: #ffff;
    font-weight: bold;
    width: 150px;
    height: 50px;
    border-width: 3px;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-right: 5px;
}
button:hover{
    background-color: #bd3246;
    border-color: #1b4b4d;
}

p{
    color: #d7d1c9;
    font-weight: bold;
}